<header class="d-flex flex-row  align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom 
    fixed-top shadow-sm">
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
    <nav class="my-2 text-uppercase fs-3">
      <a class="p-2" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      >Home</a>
      <a class="p-2" routerLink="shop" routerLinkActive="active">Shop</a>
      <a class="p-2" href="/contact" routerLinkActive="active">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4 mr-1" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mr-1" href="#">Login</a>
        <a class="btn btn-outline-secondary" href="#">Sign up</a>
    </div>
    
</header>
